.time-wrapper{
    font-size: 30px;
    font-family: monospace;
    color:white;
}

.timer {
    font-size: 150%;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    margin-top: 15%;
}

.timer-button {
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.btn.btn {
    height: 4rem;
    width: 100%;
    background-color: rgba(54, 23, 23, 1);
    color: white;
    font-family: monospace;
    word-wrap: normal;
    font-size: larger;
    padding-bottom: 0.8rem;
    margin-bottom: 0.5rem;
}

.btn.btn:hover {
    color: white;
    background-color: rgba(54, 23, 23, 0.6) ;
}