.time-wrapper{
    font-size: 18px;
    word-wrap: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

.timer {
    font-size: 225%;
    font-weight: bold;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 10%;
}

.timer-button {
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.btn.btn {
    height: 100%;
    width: 100%;
    background-color: rgba(43, 49, 50, 1);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: normal;
    margin-bottom: 0.5rem;
}

.btn.btn-custom {
    margin-top: 3%;
    margin-bottom: 3%;
}

.btn.btn:hover {
    color: white;
    background-color: rgba(43, 49, 50, 0.5) ;
}