.Work {
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-color: #FF4444;
}

.ShortRest {
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-color: #FFAB00;
}

.LongRest {
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-color: #529B2D;
}