.App {
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  background-color: #B23A3A;
  /* background-color: #529B2D; */
  /* background-color: #FFAB00; */
}

html {
  background-color: #B23A3A;
  /* background-color: #529B2D; */
  /* background-color: #FFAB00; */
}